<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="flex flex-col min-h-screen">
{{ partial "header.html" . }}

<main class="flex-grow">
  {{ block "main" . }}{{ end }}
</main>

{{ partial "footer.html" . }}

<!-- Search index for Lunr.js -->
<script>
  window.searchIndex = {{ .Site.Data.search | jsonify }};
</script>

<!-- Main JavaScript -->
{{ $js := resources.Get "js/search.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" defer></script>

{{ $viewer := resources.Get "js/viewer.js" | minify | fingerprint }}
<script src="{{ $viewer.RelPermalink }}" defer></script>

{{ $facets := resources.Get "js/facets.js" | minify | fingerprint }}
<script src="{{ $facets.RelPermalink }}" defer></script>
</body>
</html>